@import "tailwindcss";


:root{
  --thumb-color: #AD46FF;
  --track-color: #FAF5FF;
}

@theme{
  --color-body: #3C0366;

	--color-text-primary: #1E1E1E;
  --colot-text-sub: #49454F;

	--font-nutino: "Nunito", Ubuntu, sans-serif
}

*{
	@apply cursor-none;
}

body{
	@apply h-screen max-w-screen bg-body font-nutino text-text-primary md:overflow-hidden;
}


@supports (scrollbar-width: auto) {
  *{
    scrollbar-width: none;
    scrollbar-color: var(--thumb-color) var(--track-color);
  }
}


/*vinyl anim*/
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes trail {
  0% {
    transform: translate3d(var(--x), var(--y), 0) translate(-50%, -50%) translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(var(--x), var(--y), 0) translate(-50%, -50%) translate(var(--dx), var(--dy));
    opacity: 0;
  }
}